.error-6 {
	width: 600px;
	height: 386px;
}

.error-6 .error-text {
	position: absolute;
}

.error-6 .error-text-1 {
	top: 44px;
  	left: 382px;
}

.error-6 .error-text-2 {
  	top: 95px;
  	left: 401px;
}

.error-6 .error-text-3 {
  	top: 161px;
  	left: 457px;
}