.error-7 {
	width: 600px;
	height: 515px;
}

.error-7 .error-text {
	position: absolute;
}

.error-7 .error-text-1 {
	top: 52px;
  	left: 0px;
}

.error-7 .error-text-2 {
  	top: 105px;
  	left: 17px;
}

.error-7 .error-text-3 {
  	top: 137px;
  	left: 94px;
}