.error-3 {
	position: relative;
	width: 600px;
	height: 450px;
}

.error-3 .error-text {
	position: absolute;
}

.error-3 .error-text-1 {
	top: 12px;
	left: 368px;
}

.error-3 .error-text-2 {
  	top: 141px;
  	left: 384px;
}

.error-3 .error-text-3 {
  	top: 195px;
  	left: 487px;
}