.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
  height: 100%;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.content-error {
  margin: 0 auto;
}

/* Custom page footer */
.footer {
  height: 60px;
  margin: 0 20px;
  padding: 19px 0 0;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  
  .footer {
    margin: 0;
    padding: 19px 20px 0;
  }
}
