.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
  height: 100%;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

.content-error {
  margin: 0 auto;
}

.social-media {
  padding-top: 15px;
}

/* Facebook like widget */
.fb-like.fb_iframe_widget {
  overflow: hidden;
}

.facebook-share-button {
  vertical-align: top;
  display: inline-block;
}

.footer {
  height: 60px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.fa-twitter {
  color: #55ACEE;
}
.fa-behance {
  color: #369BD1;
}
