.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
  height: 100%;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

.navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

.main-content {
  position: absolute;
  width: 100%;
}

.main-content.ng-enter {
  animation: fadeIn .7s both ease-in;
  z-index: 8888;
}

.main-content.ng-leave {
  animation: fadeOut .7s both ease-in;
  z-index: 9999;
}

.content-error {
  margin: 0 auto;
  position: relative;
}

.social-media {
  padding-top: 15px;
}

/* Facebook like widget */
.fb-like.fb_iframe_widget {
  overflow: hidden;
}

.facebook-share-button {
  vertical-align: top;
  display: inline-block;
}

.footer {
  height: 60px;
  color: #777;
}

.twitter-link,
.behance-link {
  height: 60px;
  width: 60px;
  display: inline-block;
  text-align: center;
}

.fa-twitter {
  width: 100%;
  line-height: 60px;
  background: #55acee;
  color: #fff;
}

.fa-twitter:hover {
  background: rgba(0, 172, 237, .7);
}

.fa-behance {
  line-height: 60px;
  width: 100%;
  background: #1769ff;
  color: #fff;
}

.fa-behance:hover {
  background: rgba(2, 77, 255, .7);
}
