<!--https://m1.behance.net/rendition/modules/125402949/disp/984388674cc23c82fa1ed0f5f9768b2b.jpg?cb=1945039031-->
<div class='content-error error-5'>
	<span class='error-text error-text-1' data-in-effect='fadeIn' data-in-delay='75' data-initial-delay='200' textillate>Fatal exception.</span>
	<span class='error-text error-text-2' data-in-effect='fadeIn' data-in-delay='75' data-initial-delay='1400' textillate>Code has looped upon itself</span>
	<span class='error-text error-text-3' data-in-effect='rotateIn' data-in-delay='75' data-initial-delay='2900' textillate>like the coiled serpent.</span>
	<img src='images/error-5.jpg'></img>
</div>